body { font-family: 'Raleway', sans-serif; font-weight: 300; background-color: #cecece; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {  font-family: 'Montserrat', sans-serif; }

button, input, optgroup, select, textarea { font-family: 'Raleway', sans-serif; }

.copy-not {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/* Ruudo Logo Font 
================================================== */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?43zdkl');
  src:  url('../fonts/icomoon.eot?43zdkl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?43zdkl') format('truetype'),
    url('../fonts/icomoon.woff?43zdkl') format('woff'),
    url('../fonts/icomoon.svg?43zdkl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ruudo-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ruudo-logo-icon:before { content: "\e900"; }

/* Demo Styles
================================================== */
.jumbotron { background-color: #444; color: #fff; padding: 3rem 2rem; border-radius: 0; }
.jumbotron .ruudo-icon { color: #f7a707; }

#talep-form-test-section { margin-bottom: 30px; }

/* ÜRÜNLER SAYFASI 
================================================== */

/* Filtre Styles */
#filter-section { margin-bottom: 20px; }
#filter-section .btn { font-size: 12px; padding: 2px 5px; font-weight: 600; }
#filter-section .btn+.btn { margin-left: 0; }
#filter-section .btn:hover, 
#filter-section .btn:active,
#filter-section .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#filter-section .btn.is-checked { background-color: #0275d8; color: #fff; }
#filter-section .btn-group { background-color: rgba(0, 0, 0, 0.1); border-radius: 5px; margin-bottom: 10px; }
#filter-section .fa { color: #1e619a; font-size: 0.8rem; }

/* Isotope Grid */
/* -clear fix */
.urun-grid:after { content: ''; display: block; clear: both; }
/* -isotope item */
.urun-grid .item { width: 49%; margin-right: 1%; float: left; }


/* Genel */
#talep-form-page .header h2 { font-weight: 900; color: #00adb5; margin-bottom: 20px; }
#talep-form-page .header button {
  border: 0;
  background: #f7a707;
  transition: all .1s ease-out;
  color: #fff;
}
#talep-form-page .header button:hover { background: #d28c00; }

.sepet-btn-content { margin-bottom: 10px; }
.shop ul li { list-style: none; }
.shop .sepete-ekle-btn { display: none; }
.shop .kargo .sepete-ekle-btn { display: inline-block; }

.fade-transition { transition: all 0.2s ease-out; }
.fade-enter, .fade-leave { opacity: 0; }

.cart ul { padding: 0; }
.cart ul li { list-style: none; }
.cart .toplam-fiyat { display: block; text-align: right; }
.sepet-eleman-fiyati { float: right; }
.sepet-elemani .fa-trash { color: #a23f3f; cursor: pointer; }
.sepet-elemani .fa-trash:hover { opacity: 0.8; }
.sepet-elemani.kargo-line { color: #cc8500; }
.sepet-elemani .ucretsiz-text { display: none; }
.sepet-elemani.ucretsiz { color: green; }
.sepet-elemani.ucretsiz .ucretsiz-text { display: inline-block; font-size: 0.8rem; }
.sepet-elemani.ucretsiz .sepet-eleman-fiyati { text-decoration: line-through; }
.sepet-elemani .secili-ozellik { font-size: 65%; }

.shop ul { padding: 0; }
.shop li>div {
  padding: 10px;
  background: #fff;
  margin-bottom: 3px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
}
.shop li div p { margin-bottom: 2px; }
.shop li img { width: 75px; float: right; }
.shop .sepete-ekle-btn {
  color: white;
  border: 0;
  background: #f7a707;
  margin: 0;
  transition: all .1s ease-out;
}
.shop .sepete-ekle-btn:hover { background: #d28c00; }

.item .fiyat-porsiyon-box { display: inline-block; border: 1px solid rgba(0, 0, 0, 0.2); padding: 1px 5px; border-radius: 5px; margin-bottom: 4px; float: left; }
.item .fiyat-porsiyon-box .fiyat { font-size: 1.2rem; font-family: 'Montserrat', sans-serif; }
.item .fiyat-porsiyon-box .fiyat i { font-size: 1rem; }
.item .fiyat-porsiyon-box .porsiyon { color: #008000; font-size: 0.7rem; margin-top: -5px; }
.item .ozellik-info { margin-bottom: 3px; display: block; overflow: hidden; }
.item .ozellik-info ul { font-family: 'Montserrat', sans-serif; margin-bottom: 5px; }
.item .ozellik-info ul li { float: left; font-weight: 400; font-size: 0.8rem; margin-right: 10px; border: 1px solid rgba(0, 0, 0, 0.2); padding: 1px 3px; border-radius: 5px; }
.item .ozellik-info ul li:hover { color: #fff; background-color: #008000; cursor: default; }
.item .ozellik-extra { display: block; float: left; margin: 0px 0px 0px 5px; position: relative; }

/* Popover-extra / Ürün özelleştirme için eklendi */
.popover_parent { position: relative; display: inline-block; }
.popover-extra { display: none; background: #F4F4F4; padding: 10px; border-radius: 4px; position: absolute; top: 30px; z-index: 1; width: 200px; 
  border: 1px solid rgba(0, 0, 0, 0.05); box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3); }
.popover:before { content: ""; position: absolute; left: 30px; top: -20px; width: 0; height: 0; border: 10px solid transparent; border-bottom: 10px solid #F4F4F4; }

.popover-extra .form-check-label { padding-left: 0.5rem; }
.active .popover-extra { display: block; }
.active a { background: #4ba9c5!important; color: #fff; }






/* Form Styles */
#talep-form-page form .note-label i { color: #cc8500; }
#talepForm { z-index: 1070; }
#f_name_hata,
#f_tel_hata { display: none; }
#fast-f-btnGonder.form-gonderiyor { background-color: #11a715; border-color: #259227; }

.datepicker { padding: 0; }
.form-checkbox { display: inline-block; margin-right: 10px; }

/* Talep Disable Button */
.talep-fancy.talepwarning {
  -webkit-animation: shake 500ms forwards ease-out;
          animation: shake 500ms forwards ease-out;
  border-color: #c74918;
}
.talep-fancy.talepwarning .form-control { border-color: #fd9a9a; }
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  75% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  56% {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  70% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  84% {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
}

/* SON KONTROL */
@media screen and (max-width: 630px) {
  .checkout { padding: 30px 40px; }
  .checkout h5 { font-size: 1.2em; }
}
@media screen and (max-width: 550px) {
  .shop h3, .checkout h3 { font-size: 3.3em; top: -70px; left: 0px; }
}

@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {
  .urun-grid .item { width: 100%; margin-right: 0; }
}
@media (max-width: 543px) {}

/* #Browser Sellector Styles
================================================== */ 
.mobile .mobile-area {}
.mobile .desktop-area {}
.iphone #contact .main-modal-btn {}
.iphone #contact .sec-modal-btn {}
